@{
    ViewBag.Title = "index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        <h1>Daftar Produk</h1>

        @if (Enumerable.Count(ViewBag.barang) > 0)
        {
            <ul>
                @foreach (var barang in ViewBag.barang)
                {
                    <li>
                        @Html.ActionLink((String)barang.Nama, "Details/", new { Id = barang.Id })</li>
                }
            </ul>
        }
        else
        {
            <i>Belum ada produk</i>
        }
    </div>
</body>

</html>
