@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title></title>
</head>

<body>
    <div>
        <h1>Sample Client Jaya Karya</h1>
        @Html.ActionLink("Barang", "../Barang")
    </div>
</body>

</html>
